.row{
    text-align: center;
    background: rgb(192, 147, 147);
    font-family: cursive;
}
input{
    border-color: rgb(248, 39, 2);
    border-style: double;
}
body{
    font-family: cursive;
}
footer{
    font-family: cursive;
}
#etiqueta{
    background: rgb(192, 147, 147);
}
